DATABASE_URL=
APP_ENV=development
APP_TIMEZONE=Europe/Madrid
GLOBAL_PREDICTIONS_LOCK_AT=2026-06-11T00:00:00+02:00
FOOTBALL_PROVIDER=manual
API_FOOTBALL_KEY=
API_FOOTBALL_BASE_URL=https://v3.football.api-sports.io
ADMIN_EMAILS=
PASSWORD_HASH_SCHEME=bcrypt
REQUIRE_INVITE_CODE=true
DEFAULT_INVITE_CODE=MUNDIAL2026
